<template>
    <div>
    <p class="homeText">
        Syötä tapahtuma
    </p><br>
        <div v-if="pressed && (!event.id || !event.name || !event.city || !event.date)" class="errortext">
            {{ error }}
        </div>
        <div v-else-if="event.id && event.name && event.city && event.date" class="greentext">
            {{ success }}
        </div>
        <div v-else-if="state > 0" class="sent">Tapahtuma {{curName}} on lisätty!</div>
        <b-form @submit.prevent="addOwner">
            <b-form-group>
                <label>Nro</label>
                <b-form-input ref="id" type="text" v-model="event.id" id="id"/><br>
                <label>Nimi</label>
                <b-form-input type="text" v-model="event.name" id="name"/><br>
                <label>Kaupunki</label>
                <b-form-input type="text" v-model="event.city" id="name"/><br>
                <label>Ajankohta</label>
                <b-form-input type="text" v-model="event.date" id="name"/>
            </b-form-group>
            <b-button type="submit" v-on:click="checkForm">Lisää uusi tapahtuma</b-button>&nbsp;
            <b-button type="reset" variant="primary">Tyhjennä</b-button>
        </b-form>
    </div>
</template>
<script>
    import axios from "axios";

    export default {
    name: 'AddEvent',
        data() {
            return {
                event: {
                    id: '',
                    name: '',
                    city: '',
                    date: '',
                },
                pressed: false,
                state: 0,
                curName: '',
            }
        },
    methods: {
        addOwner() {
            const {...event} = this.event;
            if (this.event.id && this.event.name && this.event.city && this.event.date) {
                axios.post(`http://localhost:3001/events`, event);
                this.curName = this.event.name;
                this.event.id = this.event.name = this.event.city = this.event.date = '';
                this.$refs.id.focus();
                this.pressed = false;
                this.state++;
                console.log("POST is done!");
                /*alert(Date() + "Lisätty uusi tapahtuma:\n nro - " + this.event.id +
                    "\n nimi - " + this.event.name + "\n kaupunki - " + this.event.city +
                    "\n päivämäärä - " + this.event.date);*/
            }
        },
        checkForm() {
            this.pressed = true;
        }
    },
    computed: {
        error() {
           const errors = [];

               if (!this.event.id) {
                   errors.push("Nro");
               }

               if (!this.event.name) {
                   errors.push("Nimi");
               }

               if (!this.event.city) {
                   errors.push("Kaupunki");
               }

               if (!this.event.date) {
                   errors.push("Ajankohta");
               }

               return "Täytä kaikki kentät! Vielä täyttämättä seuraavat kentät: " + errors.join(', ') + ". ";
        },
        success () {
               return "Kaikki kentät on täytetty. Lomake on valmis lähetettäväksi!";
           },
        }
};
</script>
<style scoped>
    .homeText{
    font-size: 35px;
    color: red;
    text-align: center;
    position: relative;
    top:30px;
    text-shadow: 2px 2px 2px gray;
}
    .errortext {
        border: 2px solid red;
        padding:20px;
        background-color: antiquewhite;
        margin-bottom: 30px;
    }

    .greentext {
        border: 2px solid green;
        padding:20px;
        background-color: #f1f8e9;
        margin-bottom: 30px;
    }

    .sent {
        margin-bottom: 30px;
        color: green;
        font-weight: bold;
    }
</style>