<template>
  <div>
  <p class="homeText">
    Listaa tapahtumia
  </p>
    <b-table :items="events" :fields="fields"></b-table>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ListEvent',
  data() {
    return {
      events: [],
    }
  },
  async created() {
    try {
      const res = await axios.get(`http://localhost:3001/events`);

      this.events = res.data;
    } catch(e) {
      console.error(e)
    }
  },
  computed: {
    fields() {
      return [
          {key: 'id', label: 'Nro'},
          {key: 'name', label: 'Nimi'},
          {key: 'city', label: 'Kaupunki'},
          {key: 'date', label: 'Päivämäärä'}
        ]
    }
  }
};

</script>
<style scoped>
.homeText{
  font-size: 35px;
  color: red;
  text-align: center;
  position: relative;
  top:30px;
  margin-bottom:60px;
  text-shadow: 2px 2px 2px gray;
}
</style>