.leaflet-container {
    width: 100%;
    height: 50vh;
}

h1 {
    margin: 20px 0;
}

thead {
    background-color: #17a2b8;
    color: white;
}

.main-container {
    margin: 0 3%;
}

.nobreakline {
    display: inline;
}

.weatherTable {
    border: 1px solid #eeeeee;
    padding: 20px 40px;
    margin-top:35px;
}